/* ///////////////////////////// */
/* ///////Variable Definitions// */
/* ///////////////////////////// */
:root {
  --headerBlack: hsl(0, 0%, 2%);
  --tableBorders: 5px solid var(--tableWhiteFaded);
  --tableGreen: hsl(140, 82%, 13%);
  --tableWhite: hsl(30, 3%, 69%);
  --tableWhiteFaded: hsla(30, 3%, 69%, 0.8);
  --translucentGray: hsla(0, 0%, 2%, 0.6);
  --shadow: -5px 5px 5px black;
}

/* ///////////////////////////// */
/* //////Font Definitions/////// */
/* ///////////////////////////// */
@font-face {
  font-family: casinoSign3d;
  src: url(../fonts/Casino3DLinesMarquee.ttf);
}
@font-face {
  font-family: casinoSign;
  src: url(../fonts/CasinoShadow.ttf);
}
@font-face {
  font-family: boardfont;
  src: url(../fonts/grandCasinoRegular.otf);
}
@font-face {
  font-family: boardNumber;
  src: url(../fonts/boardNumbers.ttf);
}

/* ///////////////////////////// */
/* ////Animation Definitions//// */
/* ///////////////////////////// */
@keyframes moveLeftRight {
  0% {
    transform: translate(0, 4%);
  }
  100% {
    transform: translate(0.05rem, 4%);
  }
}

/* ///////////////////////////// */
/* /////////Page Styles///////// */
/* ///////////////////////////// */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(0, 93%, 5%);
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  padding: 20px;
}

/* ///////////////////////////// */
/* ///////Header Styles///////// */
/* ///////////////////////////// */
header {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Positioning stuff*/
  position: relative;
  /*Box model stuff*/
  width: 100%;
  height: 10vh;
  border: 10px black double;
  border-radius: 10px;
  background-color: var(--headerBlack);
}
header h1 {
  /*Display stuff*/
  display: flex;
  /*Positioning stuff*/
  z-index: 1;
  /*Box model stuff*/
  margin: 0;
  /*Typography stuff*/
  font-family: casinoSign3d;
  font-size: clamp(50px, 8vw, 100px);
  /*Manipulations stuff*/
  transform: translateY(4%);
  /*Miscellaneous*/
  clip-path: inset(0 0 10% 0);
}
header h1:nth-child(2) {
  /*Positioning stuff*/
  position: absolute;
  z-index: 0;
  /*Typography stuff*/
  color: yellow;
  /*Manipulations stuff*/
  animation: moveLeftRight 0.5s infinite alternate;
}
header > a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* ///////////////////////////// */
/* /////////Main Styles///////// */
/* ///////////////////////////// */
main {
  /*Display stuff*/
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* ///////////////////////////// */
/* /////////Contact Card Styles///////// */
/* ///////////////////////////// */
.contactCard {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  width: 300px;
  height: 60%;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--tableGreen);
  /*Typography stuff*/
  font-size: clamp(1px, 1rem, 1rem);
  text-align: center;
  color: var(--tableWhite);
  /*Miscellaneous*/
  gap: 5px;
}
.contactCard img {
  /*Box model stuff*/
  width: 90%;
  height: auto;
  margin-bottom: 1vh;
  border-radius: inherit;
}
.contactCard h2 {
  /*Typography stuff*/
  font-family: boardFont;
  font-size: 2rem;
}
.contactCard p {
  /*Box model stuff*/
  padding: 10px;
  border-radius: inherit;
  /*Typography stuff*/
  font-family: sans-serif;
}
.contactCard div {
  /*Box model stuff*/
  border-radius: inherit;
  background-color: hsla(0, 0%, 0%, 0.1);
}

/* ///////////////////////////// */
/* /////////Footer Styles/////// */
/* ///////////////////////////// */
footer {
  /*Display stuff*/
  display: flex;
  justify-content: center;
  /*Positioning stuff*/
  position: absolute;
  left: 50%;
  bottom: 0;
  /*Box model stuff*/
  width: 100%;
  padding: 3px;
  background-color: var(--headerBlack);
  /*Typography stuff*/
  font-family: sans-serif;
  color: var(--tableWhite);
  /*Manipulations stuff*/
  transform: translateX(-50%);
}
