*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --boardGreen: hsl(140, 82%, 13%);
  --darkGray: hsl(0, 0%, 2%);
  --tableBorders: 5px solid rgb(179, 177, 175);
}

@font-face {
  font-family: casinoSign3d;
  src: url(../fonts/Casino3DLinesMarquee.ttf);
}
@font-face {
  font-family: casinoSign;
  src: url(../fonts/CasinoShadow.ttf);
}

@keyframes moveLeftRight {
  0% {
    transform: translate(0, 8%);
  }
  100% {
    transform: translate(0.05rem, 8%);
  }
}
body {
  background-color: hsl(0, 92%, 5%);
  height: 100vh;
  text-align: center;
  width: 100vw;

  /* overflow: hidden; */
}

header {
  align-items: center;
  background-color: var(--darkGray);
  border: 10px black double;
  border-radius: 10px;
  display: flex;
  height: 10vh;
  justify-content: center;
  position: relative;
  width: 100%;
}
header h1 {
  clip-path: inset(0 0 10% 0);
  display: flex;
  font-family: casinoSign3d;
  font-size: clamp(30px, 4vw, 500px);
  margin: 0;
  transform: translateY(8%);
  z-index: 1;
}
header h1:nth-child(2) {
  animation: moveLeftRight 0.5s infinite alternate;
  color: yellow;
  position: absolute;
  z-index: 0;

  /* Uncomment to start animation */
}

main {
  display: flex;
  height: calc(100vh - 15vh);
  justify-content: center;
  padding: 5px;
}

.table {
  background-color: var(--boardGreen);
  border: var(--tableBorders);
  border-radius: 20px;
  display: grid;
  gap: 8px;
  grid-template-rows: 1fr 2fr;
  height: 100%;
  padding: 8px;
  width: 100%;
}
.table > div {
  border: var(--tableBorders);
  border-radius: 10px;
}

.playingCard {
  box-shadow: -5px 5px 5px black;
  margin-left: -70px;
}
h3 {
  font-size: 35px;
}

.score p {
  flex: 1;
  font-size: 35px;
}
