/* ///////////////////////////// */
/* ///////Variable Definitions// */
/* ///////////////////////////// */
:root {
  /*Miscellaneous*/
  --tableGreen: hsl(140, 82%, 13%);
  --headerBlack: hsl(0, 0%, 2%);
  --tableWhite: hsl(30, 3%, 69%);
  --tableWhiteFaded: hsla(30, 3%, 69%, 0.8);
  --tableBorders: 5px solid var(--tableWhiteFaded);
}

/* ///////////////////////////// */
/* //////Font Definitions/////// */
/* ///////////////////////////// */
@font-face {
  font-family: casinoSign3d;
  src: url(../fonts/Casino3DLinesMarquee.ttf);
}
@font-face {
  font-family: casinoSign;
  src: url(../fonts/CasinoShadow.ttf);
}
@font-face {
  font-family: boardfont;
  src: url(../fonts/grandCasinoRegular.otf);
}

/* ///////////////////////////// */
/* ////Animation Definitions//// */
/* ///////////////////////////// */
@keyframes moveLeftRight {
  0% {
    transform: translate(0, 8%);
  }
  100% {
    transform: translate(0.05rem, 8%);
  }
}

/* ///////////////////////////// */
/* /////////Page Styles///////// */
/* ///////////////////////////// */
*,
*::before,
*::after {
  /*Box model stuff*/
  margin: 0;
  /*Miscellaneous*/
  box-sizing: border-box;
}

body {
  /*Box model stuff*/
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 93%, 5%);
  /*Typography stuff*/
  text-align: center;
}

/* ///////////////////////////// */
/* ///////Header Styles///////// */
/* ///////////////////////////// */
header {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Positioning stuff*/
  position: relative;
  /*Box model stuff*/
  width: 100%;
  height: 10vh;
  border: 10px black double;
  border-radius: 10px;
  background-color: var(--headerBlack);
}
header h1 {
  /*Display stuff*/
  display: flex;
  /*Positioning stuff*/
  z-index: 1;
  /*Box model stuff*/
  margin: 0;
  /*Typography stuff*/
  font-family: casinoSign3d;
  font-size: clamp(30px, 4vw, 500px);
  /*Manipulations stuff*/
  transform: translateY(8%);
  /*Miscellaneous*/
  clip-path: inset(0 0 10% 0);
}
header h1:nth-child(2) {
  /*Positioning stuff*/
  position: absolute;
  z-index: 0;
  /*Typography stuff*/
  color: yellow;
  /*Manipulations stuff*/
  /* animation: moveLeftRight 0.5s infinite alternate; */
}

/* ///////////////////////////// */
/* ///////Main Styles/////////// */
/* ///////////////////////////// */
main {
  /*Display stuff*/
  display: flex;
  justify-content: center;
  /*Box model stuff*/
  height: calc(100vh - 15vh);
  padding: 5px;
}

/* ///////////////////////////// */
/* ///////Game Table Styles///// */
/* ///////////////////////////// */
.table {
  /*Display stuff*/
  display: grid;
  grid-template-rows: 3fr 4fr;
  /*Box model stuff*/
  width: 100%;
  height: 100%;
  padding: 2rem;
  border: var(--tableBorders);
  border-radius: 20px 20px 50% 50%;
  background-color: var(--tableGreen);
  /*Miscellaneous*/
  gap: 5vh;
}

/* Play Areas */
.table > div {
  /*Display stuff*/
  justify-self: center;
  /*Positioning stuff*/
  position: relative;
  /*Box model stuff*/
  width: clamp(300px, 25%, 25%);
  /* aspect-ratio: 1 /1; */
  border: var(--tableBorders);
  border-radius: 10px;
}
@media screen and (max-width: 600px) {
  .table > div:nth-child(2) {
    border-radius: 10px 10px 50% 50%;
  }
}

/* Play Area Header */
.table > div > h2 {
  /*Positioning stuff*/
  position: absolute;
  left: 50%;
  top: -1.25rem;
  /*Typography stuff*/
  font-family: boardFont;
  font-size: clamp(40px, 2vw, 2vw);
  color: var(--tableWhiteFaded);
  /*Manipulations stuff*/
  transform: translateX(-50%);
  background-color: var(--tableGreen);
  border: var(--tableBorders);
  border-radius: 10px;
  padding: 5px;
}

/* ///////////////////////////// */
/* ////////Card Styles////////// */
/* ///////////////////////////// */
.playingCard {
  /*Box model stuff*/
  margin-left: -70px;
  /*Miscellaneous*/
  box-shadow: -5px 5px 5px black;
}

/* ///////////////////////////// */
/* ///////ScoreBoard Styles///// */
/* ///////////////////////////// */
.score h3 {
  /*Typography stuff*/
  font-size: 35px;
}

.score p {
  /*Display stuff*/
  flex: 1;
  /*Typography stuff*/
  font-size: 35px;
}
