*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --replaceMeBrown: hsl(23, 44%, 14%);
  --boardGreen: hsl(140, 82%, 13%);
}

@font-face {
  font-family: casinoSign3d;
  src: url(../fonts/Casino3DLinesMarquee.ttf);
}
@font-face {
  font-family: casinoSign;
  src: url(../fonts/CasinoShadow.ttf);
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1px);
  }
}
body {
  background-color: hsl(0, 85%, 11%);
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--replaceMeBrown);
  height: 20vh;
  width: 100%;
  min-height: 140px;
  position: relative;
  border: 10px black double;
  border-radius: 10px;
}
header h1 {
  font-size: clamp(30px, 10vw, 500px);
  font-family: casinoSign3d;
  z-index: 1;
  display: flex;
  height: 100%;
}
header h1:nth-child(2) {
  position: absolute;
  /* Uncomment to start animation */
  /* animation: moveLeftRight 0.5s infinite alternate; */
  z-index: 0;
  color: yellow;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  .table {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: var(--boardGreen);
    width: 90vw;
    height: 45vw;
    border-radius: 0 0 45vw 45vw;
  }
}
/* @media screen and (max-width: 600px) {
} */

.table > div {
  border: solid black;
}

.playingCard {
  margin-left: -70px;
  box-shadow: -5px 5px 5px black;
}
h3 {
  font-size: 35px;
}

.score p {
  font-size: 35px;
  flex: 1;
}
